@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
}

*{
padding:0;
margin:0;
box-sizing: border-box;
}
body{
    background-color: var(--Cream);
}

h1{
    font-family: 'Fraunces', serif;
    margin-top: 20px;
    font-size: 34px;


}
.box{
    margin-top: 10px;
    margin-left: 20px;
}
p,h6,.btn{
    font-family:'Montserrat' , sans-serif;
    

}
p{
    color: var(--Dark-grayish-blue);
    font-size: 12px;
    margin-top: 20px;
}
.item1 img{
    height:400px;
    width: 250px;
    border-radius: 0.5rem  0 0 0.5rem;
   

}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
  


  
}
.item2 {
    border-radius: 0 1rem 1rem 0 ;
    overflow: hidden;
    height: 400px;
    width: 300px;   
    background-color: var(--White); 


}


h4{
    font-family:'Montserrat' , sans-serif;
    font-weight: 500;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--Dark-grayish-blue);
    margin-top: 20px;

    
}
.price{
    display: flex;
    align-items: center;
    font-family: "Fraunces", serif;
    margin-bottom: 10px;

  }
.price h1 {
    margin-right: 20px;
    margin-bottom: 25px;
    font-size:25px;
    color: var(--Dark-cyan);
  }
.price h6{
    color: var(--Dark-grayish-blue);
     font-size: 12px;
    text-decoration: line-through;

}
.btn{
    background-color: var(--Dark-cyan);
    color:var(--White);
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 100%;
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-top: -70px;
  
    
}
.btn img{
    margin-right: 10px;
  width: 10px;
  background: transparent; 

  }
  
  .btn:hover {
    background-color: #1b4131;
  }
  